In [33]:
import numpy as npH
import pandas as pd

In [34]:
df1 = pd.read_excel(r"C:\Users\minu.mahajan\Downloads\OneDrive_2022-06-06\Data provided to Genpact\FINANCE_COA.xlsx")

In [35]:
df1

,Account,Account Class,Adaptive Mapping,Type,Active,Description,Use Default Subaccount,Post Option,Consolidation Account,Currency,Cash Account,Secured,Revaluation Rate Type,Account Group,Tax Category,Control Account Module,Allow Manual Entry
0,1000,CASH,SmartyPants Corp,Asset,True,Petty Cash,False,Detail,NaN,USD,True,False,NaN,NaN,NaN,NaN,False
1,1001,CASH,SmartyPants Corp,Asset,False,SVB Bank,False,Detail,NaN,USD,True,False,NaN,NaN,NaN,NaN,False
2,1002,CASH,SmartyPants Corp,Asset,True,Webster Bank,False,Detail,NaN,USD,True,False,NaN,NaN,NaN,NaN,False
3,1003,CASH,SmartyPants Corp,Asset,True,Cash-In-Transit,False,Detail,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
4,1004,CASH,SmartyPants Corp,Asset,True,Webster Factoring Account,False,Detail,NaN,USD,True,False,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,8200,NONOPEREXPENSES,SmartyPants Corp,Expense,True,Restructuring Costs (A&D Cost),False,Detail,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
295,9000,TAX,SmartyPants Corp,Expense,True,Federal Income Tax,False,Detail,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
296,9010,TAX,SmartyPants Corp,Expense,True,State Income Tax,False,Detail,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
297,9996,OPSLOG,SmartyPants Corp,Expense,False,Warehousing,False,Detail,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False
298,9999,AP,SmartyPants Corp,Liability,True,CONVERSION CLEARING ACCOUNT,False,Detail,NaN,NaN,False,False,NaN,NaN,NaN,NaN,False

In [36]:
df2 = pd.read_excel(r"C:\Users\minu.mahajan\Downloads\OneDrive_2022-06-06\Data provided to Genpact\FINANCE_COA.xlsx",sheet_name = "Account Classes")

In [37]:
df2

   Account Class ID       Type               Description
0            ACCRUE  Liability          Accrued Expenses
1             ACCUM      Asset  Accumulated Depreciation
2                AP  Liability          Accounts Payable
3                AR      Asset       Accounts Receivable
4              CASH      Asset                      Cash
..              ...        ...                       ...
78  SLOTTNGFREEFILL     Income       Slotting, Free Fill
79              STD  Liability           Short Term Debt
80     SUBSCRIPTION  Liability   Subscription Receivable
81              TAX    Expense                       Tax
82             TRGL  Liability     Translation Gain/Loss

[83 rows x 3 columns]

In [38]:
df1.columns = df1.columns.str.lower()

In [39]:
print(df1.info())
print(df1.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   account                 299 non-null    int64
 1   account class           299 non-null    object
 2   adaptive mapping        298 non-null    object
 3   type                    299 non-null    object
 4   active                  299 non-null    bool
 5   description             299 non-null    object
 6   use default subaccount  299 non-null    bool
 7   post option             299 non-null    object
 8   consolidation account   0 non-null      float64
 9   currency                11 non-null     object
 10  cash account            299 non-null    bool
 11  secured                 299 non-null    bool
 12  revaluation rate type   0 non-null      float64
 13  account group           0 non-null      float64
 14  tax category            0 non-null      float64
 15  control account module  0 non-null      float64
 16  allow manual entry      299 non-null    bool
dtypes: bool(5), float64(5), int64(1), object(6)
memory usage: 29.6+ KB
None
(299, 17)

In [40]:
df2.columns = df2.columns.str.lower()

In [41]:
print(df2.info())
print(df2.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account class id  83 non-null     object
 1   type              83 non-null     object
 2   description       83 non-null     object
dtypes: object(3)
memory usage: 2.1+ KB
None
(83, 3)

In [44]:
dfinal = df2.merge(df1, on="Account Class ID", how = 'inner')

KeyError: 'Account Class ID'

In [29]:
dfinal

NameError: name 'dfinal' is not defined